# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  BIC_VERSION: 1.0.0-beta.5

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: mtime
        run: sudo apt install git-restore-mtime && git restore-mtime

      - name: chmod
        run: chmod 777 .

      - name: Build
        run: docker run --rm -v "$PWD":/src ghcr.io/pinjasaur/bic:$BIC_VERSION

      - name: chmod the sequel
        run: chmod -R 777 build

      - uses: actions/setup-node@v4
        with:
          node-version: 20 # current LTS

      - name: Index
        run: RUST_BACKTRACE=1 npx -y pagefind --site build --verbose

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          cname: demo.bic.sh
